body {
    background-color: #333;
}

.container {
    width: 80%;
    margin: 5% auto;
    /*border: 1px solid #666; */ 
    position: relative;
}

.container .phone-mockup { 
    position: absolute; 
    z-index: -1;
    left: 30%;
    bottom: -63%;      
    opacity: 0.5;     
    transform: scale(0.52);   
}

.phone-carousel img {
    transform: scale(0.5);
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
    opacity: 1;
}

.phone-carousel .slick-active img {
    transform: scale(0.6);
    opacity: 0.5;
}

.phone-carousel .slick-active+.slick-active img {
    transform: scale(0.7);
    opacity: 0.75;
}
.phone-carousel .slick-center+.slick-active img {
    transform: scale(0.7) !important;
    opacity: 0.75 !important;
}

.phone-carousel .slick-center+.slick-active+.slick-active img {
    transform: scale(0.6) !important;
    opacity: 0.25 !important;
}

.phone-carousel .slick-active+.slick-active+.slick-active img {
    transform: scale(0.8);
    opacity: 1;
}

@media (max-width: 980px) {
    .phone-carousel .slick-active+.slick-active img {
        transform: scale(0.8);
        opacity: 1;
    }
    .phone-carousel .slick-active img {
        transform: scale(0.7);
        opacity: 0.75;
    }
    .phone-carousel .slick-center+.slick-active img {
        transform: scale(0.7) !important;
        opacity: 0.75 !important;
    } 
    .container .phone-mockup { 
        position: absolute; 
        z-index: -1;
        left: 16.5%;
        bottom: -70%;      
        opacity: 0.5;     
        transform: scale(0.48);   
    }   
}
@media (max-width: 768px) {
    .phone-carousel .slick-active img {
        transform: scale(0.8);
        opacity: 1;
    }
    .container .phone-mockup { 
        position: absolute; 
        z-index: -1;
        left: -13%;        
        top: -35%;            
        opacity: 0.5;     
        transform: scale(0.65);   
    }     
}


